*{
    margin: 0%;
    /* padding: 0%; */
}

.nav1 {
    display: flex;
    height: 4.8%;
    align-items: start;
    width: 100%;
    margin-top: 2px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    
}
p.navbar1{
    margin-top: 0%;
    margin-right: 15%;
}
a{
    text-decoration: none;
}
a.navbar1{
    margin-right: 5%;

}
a.navbar1:hover{
    color: red;
}

#signup{
    margin-right: 8px;
    margin-left: 15%;
}
#login{
    margin-right: 0%;
}

.nav2{
    background-color: #F1F4F6;
    height:8%;
    width: 100%;
    border-style: none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    
    
}
input{
    width: 400px;
    height: 25px;
    
}
input:hover{
    border: 1.5px solid rgb(0, 216, 254);
}
.navbar2{
    display: inline;
    margin-top: 1%;
}
button{
    border-style: none;
    padding-left: 0%;
    margin-top: 0%;
}
.b1{
    height: 100px;
    width: 111px;
    margin-left: 30px;
    margin-right: 30px; 
    margin-top: 10px;
    display: inline-block;
    border: 1.5px solid ;
    border-radius: 5%;
    
}
#b11:hover{
    box-shadow: rgb(101, 225, 101) 0px 0px 0.25em, rgb(101, 225, 101) 0px 0.25em 1em;
}
#b12:hover{
    box-shadow: rgb(240, 132, 99) 0px 0px 0.25em, rgb(240, 132, 99) 0px 0.25em 1em;
}
#b13:hover{
    box-shadow: rgb(111, 106, 243) 0px 0px 0.25em, rgb(111, 106, 243) 0px 0.25em 1em;
}
#b14:hover{
    box-shadow: rgb(240, 175, 85) 0px 0px 0.25em, rgb(240, 175, 85) 0px 0.25em 1em;
}
#b15:hover{
    box-shadow: rgb(109, 218, 235) 0px 0px 0.25em, rgb(109, 218, 235) 0px 0.25em 1em;
}
#b21:hover{
    box-shadow: rgb(109, 218, 235) 0px 0px 0.25em, rgb(109, 218, 235) 0px 0.25em 1em;
}
#b22:hover{
    box-shadow: rgb(240, 175, 85) 0px 0px 0.25em, rgb(240, 175, 85) 0px 0.25em 1em;
}
#b23:hover{
    box-shadow: rgb(111, 106, 243) 0px 0px 0.25em, rgb(111, 106, 243) 0px 0.25em 1em;
}
#b24:hover{
    box-shadow: rgb(240, 132, 99) 0px 0px 0.25em, rgb(240, 132, 99) 0px 0.25em 1em;
}
#b25:hover{
    box-shadow: rgb(101, 225, 101) 0px 0px 0.25em, rgb(101, 225, 101) 0px 0.25em 1em;
}

.b21{
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
    border: 1.5px solid ;
    border-radius: 5%;
    border-color: red;
}

.b22{
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
    border: 1.5px solid ;
    border-radius: 5%;
    border-color: blue;
    
}
.b23{
    width: 160px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    display: inline-block;
    border: 1.5px solid ;
    border-radius: 5%;
    border-color: green;
    
}
.b21:hover{
    border: 1.5px solid rgb(255, 0, 247);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.b22:hover{
    border: 1.5px solid rgb(255, 0, 247);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.b23:hover{
    border: 1.5px solid rgb(255, 0, 247);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.b2img{
    height: 100px;
    width: 150px;
    border-radius: 8%;
    margin-top: 2px;
}
footer{
    width : 100%;
    margin-bottom : 0%;
    justify-content: space-evenly;
    display: flex;
    
}
.footdiv{
    margin-left: 2%;
    color: rgb(50, 49, 49);
    display: inline-block;
    margin-left: 52px;
    margin-right: 52px;
}
.footlast{
    text-align: center;
    justify-content: end;
    margin-top: 20%;
}
ul{
    margin-top: 40px;
    list-style-type: none;
}
li{
    font-size: small;
}
.submenu{
    display: none;
}
.submenudisplay:hover .nav1{
    height: 100%;
}
.submenudisplay:hover .submenu{
    margin-left: 55%;
    margin-top: 0%;
    width:200px;
    height:250px;
    top: 2px;
    left: 0px;
    background-color: #6bf8e5 !important;
    padding: 10px;
    overflow: hidden;
    visibility: visible;
    display: block;
    z-index: 500 !important;
    position: relative;
    text-align: center;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.account{
    display: none;
}
.myaccount:hover .nav1{
    height: 100%;
}
.myaccount:hover .account{
    width:200px;
    height:155px;
    position: absolute;
    margin-right: 0px;
    margin-top: -6px;
    left: 0px;
    background-color: #cb7af4 !important;
    padding: 10px;
    overflow: hidden;
    visibility: visible;
    display: inline-block;
    z-index: 500;
    text-align: center;
    margin-left: 49.5rem;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}
.imgslider{
    width:70vw;
    height: 40%;
    background-image: url(image1.png);
    background-size: 100% 100%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    animation: changeimage 20s linear infinite ;

}
@keyframes changeimage {
    0%{
        background-image: url(image1.png);
    }
    25%{
        background-image: url(imgslider2.png);
    }
    50%{
        background-image: url(imgslider3.png);
    }
    75%{
        background-image: url(imgslider4.avif);
    }
    100%{
        background-image: url(imgslider5.jpg);
    }
}
.imgsec{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-size: 100% 100%;
    background-image: url(istockphoto-1472256319-1024x1024.jpg);
    height: 40%;
    width: 28.5vw;
    margin-left: 0px;
    margin-right: 0px;
}
input:focus{
    box-shadow: rgb(0, 216, 254) 0px 0px 0px 1px;
    border-style: none;
    outline: none;
    
}
.page2img{
    width: 300px;
    height: 250px;
    margin-left: 120px;
    margin-right: 30px;
    margin-top: 30px;
    display: inline-block;
    border: 1.5px dotted green;
    border-radius: 2%;
}
select{
    width:50%;
    margin-top: 10%;
    text-align: center;
    border: 1.5px solid aqua;
    border-radius: 5%;
}